@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

:root {
/* Dark background */
    --dark-bg: #0d0c1d;

/* Neon colors */
    --neon-red: #ff0000;
    --neon-blue: #00ffff;
    --neon-green: #00ff00;
    --neon-yellow: #ffff00;
    --neon-pink: #ff1493;
    --neon-cream: #fffcf5;
    --neon-violet: #9400D3;
}

@keyframes pulse {
    0% {
        color: var(--neon-blue);
        text-shadow: 0 0 10px var(--neon-blue), 0 0 20px var(--neon-blue), 0 0 30px var(--neon-blue), 0 0 40px var(--neon-blue);
    }
    25% {
        color: var(--neon-pink);
        text-shadow: 0 0 10px var(--neon-pink), 0 0 20px var(--neon-pink), 0 0 30px var(--neon-pink), 0 0 40px var(--neon-pink);
    }
    50% {
        color: var(--neon-red);
        text-shadow: 0 0 10px var(--neon-red), 0 0 20px var(--neon-red), 0 0 30px var(--neon-red), 0 0 40px var(--neon-red);
    }
    75% {
        color: var(--neon-yellow);
        text-shadow: 0 0 10px var(--neon-yellow), 0 0 20px var(--neon-yellow), 0 0 30px var(--neon-yellow), 0 0 40px var(--neon-yellow);
    }
    100% {
        color: var(--neon-violet);
        text-shadow: 0 0 10px var(--neon-violet), 0 0 20px var(--neon-violet), 0 0 30px var(--neon-violet), 0 0 40px var(--neon-violet);
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--dark-bg);
    color: var(--neon-cream);
    font-family: 'Orbitron', sans-serif;
    background-image: url(./wallpaper.jpg);
    background-size: cover;
}

a:hover {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(251, 72, 196, 0.5),
        rgba(0, 255, 255, 0.7),
        rgba(251, 72, 196, 0.5)
    );
}

.links {
    display: flex;
    align-items: center;
}

ul.links > li, ul.links > li > a {
    color: var(--neon-pink);
    padding: 0px 10px;
    list-style: none;
    text-decoration: none;
}

ul.links > li > a:hover {
    text-shadow: 0 0 10px var(--neon-pink), 0 0 20px var(--neon-pink);
    border-radius: 20px;
}

.my-title{
    letter-spacing: 5px;
    margin: auto;
    color: var(--neon-blue);
    animation: pulse 4s infinite;
    font-size: 30px;
    text-decoration: none;
}

.home {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px 50px;
    height: 80vh;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 36px 36px;
    color: var(--neon-green);
}

#developer-role {
    color: var(--neon-green)
}

div.home > section > p {
    text-align: start;
    color: var(--neon-cream);
}

.links-buttons {
    display: flex;

}
.links-buttons > a {
    text-decoration: none;
}

.contact-link {
    background-color: var(--neon-pink);
    color: var(--neon-blue);
    padding: 12px 25px;
    border-radius: 5px;
    border: solid var(--neon-pink) 1.5px;
    margin: 0 5px;
    color: var(--neon-cream);
    font-family: 'Orbitron', sans-serif;
    width: 130px;
    height: 45px;
    margin-left: 10px;
}

.contact-link:hover {
    box-shadow: 0 0 10px var(--neon-pink), 0 0 20px var(--neon-pink);
}

.resume-link {
    background-color: var(--neon-green);
    padding: 12px 25px;
    border-radius: 5px;
    border: solid var(--neon-green) 1.5px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--neon-pink);
    margin: auto;
    font-family: 'Orbitron', sans-serif;
    width: 130px;
    height: 45px;
}


.resume-link:hover {
    box-shadow: 0 0 10px var(--neon-green), 0 0 20px var(--neon-green);
}



.resume-link > img {
    margin-left: 4px
}

.introduction {
    font-weight: lighter;
    text-align: start;
}

.hook-body {
    width: 50vw;
}

.landing-img {
    height: 500px;
    width: 500px;
}

.my-portfolio {
    display: flex;
}

.link-tree{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    color: var(--neon-green);
}

.portfolio-link {
    color: var(--neon-green);
}

.my-projects {
    color: var(--neon-blue);
    position: relative;
    background-image: url(../components/RingMenu/myprojects.png);
    background-size: 200px;
    width: 200px;
    height: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    right: -250px;
    top: 40%;
    z-index: 1;
    transition: transform .5s;
    text-shadow: 0 0 10px var(--neon-blue), 0 0 20px var(--neon-blue), 0 0 30px var(--neon-blue), 0 0 40px var(--neon-blue);
}

.my-projects:hover {
    animation: pulse 5s infinite;
    transform: scale(1.3);
}

.my-projects-text {
    margin-left: 30px;
    text-decoration: none;
    color: var(--neon-blue);

}

.socialMediaIcon {
    width: 24px;
    height: 24px;
    border-radius: 10px;
}

.socialMediaIcon:hover, socialMediaIcon:focus {
    box-shadow: 0 0 10px var(--neon-green), 0 0 20px var(--neon-green), 0 0 30px var(--neon-green), 0 0 40px var(--neon-green);
    transition: all 0.3s ease;
    outline: none;
}

.external-icon {
    width: 20px;
    height: 20px;
}